<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} |  {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link href="https://fonts.googleapis.com/css?family=Lora|Space+Mono:700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/normalize.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% seo %}
</head>
