$font-header: 'Space Mono', monospace;
$font-body: 'Lora', serif;

$color-alpha: #9f8f68;
$color-alpha--light: #f5f3ef;

$color-black: #0a0a0a;
$color-grey: #f8f9f9;
$color-white: #fff;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  line-height: 1.4;
}

h1, h2 {
  font-family: $font-header;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
