// Blog Post Preview
.preview {
  transition: background-color 0.2s ease-in-out;
  
  &:nth-child(even) {
    background-color: $color-white;
  }

  &:hover {
    background-color: $color-alpha--light;
  }

  &__img {
    animation: fade-in 1s ease-in-out;
  }

  &__link {
    display: block;
    padding: 4em 8em;
  }

  &__date {
    font-family: $font-header;
    color: $color-black;
  }

  &__header {
    color: $color-alpha;
  }

  &__excerpt {
    margin: 0;

    color: $color-black;
  }

  &__more {
    @extend %letter-spacing;

    font-family: $font-header;
    text-transform: uppercase;
    color: $color-alpha;
  }
}

// Pagination
.pagination {
  @extend %letter-spacing;

  // position: absolute;
  // left: 0;
  // bottom: 0;

  display: flex;
  width: 100%;

  font-family: $font-header;
  text-transform: uppercase;

  & > * {
    display: flex;
    justify-content: center;
    flex: 1;

    padding: 2em 0;
  }

  a {
    color: $color-white;
    background-color: $color-black;

    transition: background-color 0.4s ease-in-out;

    &:hover {
      background-color: $color-alpha;
    }
  }
}

// Mast
.mast {
  position: relative;

  height: 35em;

  color: $color-white;
  background-color: $color-black;

  &:after {
    @extend %overlay;
  }

  &__img {
    animation: fade-in 2s ease-in-out;
  }

  &__container {
    height: 100%;
  }
}

// Blog Post
.post {
  width: 60%;
  margin: 0 auto;

  p:first-child {
    font-size: 1.25em;
  }
}

// Next Post
.next {
  background-color: $color-black;

  &__link {
    display: block;
    height: 25em;
    padding: 6em 0;

    color: $color-white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    &:after {
      @extend %overlay;
    }

    &:hover:after {
      background-color: rgba($color-alpha, 0.8);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
