/**
 * Sections
 */
section {
  position: relative;
}

.section-padding {
  padding: 4em 0;

  &--lg {
    padding: 6em 0;
  }
}

/**
 * Class Container (BEM)
 */
[class*='__container'] {
  position: relative;
  z-index: 1;
}

/**
 * Blog page
 */
.previews {

  & > * {

    &:first-child {
      position: fixed;
      top: 0;
      left: 0;

      height: 100%;
      width: 45%;

      background-color: $color-black;

      &:after {
        @extend %overlay;
      }
    }

    &:last-child {
      // position: relative;

      min-height: 100vh;
      margin-left: 45%;

      background-color: $color-grey;
    }
  }
}
