main {
  display: flex;

  & > * {

    &:first-child {
      position: fixed;
      top: 0;
      left: 0;

      height: 100%;
      width: 45%;
    }

    &:last-child {
      min-height: 100vh;
      margin-left: 45%;
    }
  }
}
