---
layout: default
title: Brunch
permalink: /category/brunch/
---
<section class="previews">
  <div>
    {% for post in site.categories[page.title] %}
      <figure class="absolute-bg preview__img" style="background-image: url('{{ post.image }}');"></figure>
    {% endfor %}
  </div>

  <div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">{{ page.title }}</li>
        <li class="tabs__item">Categories</li>
      </ul>
    </header>
    <ul class="tab" itemscope itemtype="http://schema.org/Blog">
      {% for post in site.categories[page.title] %}
        <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <a class="preview__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
            <span class="preview__date" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
            <p class="preview__excerpt" itemprop="description">{{ post.content | strip_html | truncatewords: 30 }}</p>
            <span class="preview__more">Read More</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul class="tab">
      {% for category in site.categories %}
        {% assign cat_name = category | first %}
        <li>
          <a href="{{ site.baseurl }}/category/{{ category | first | downcase }}">
            <h2>{{ cat_name }}</h2>
            <p>{{ site.categories[cat_name] | size }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>

</section>
