---
layout: default
---
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="section-padding--lg mast">
    <figure class="absolute-bg mast__img" style="background-image: url('{{ page.image }}');"></figure>
    <div class="mast__container">
      <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
      <h1 itemprop="name headline">{{ page.title }}</h1>
    </div>
  </header>

  <section class="section-padding post" itemprop="articleBody">
    {{ content }}
  </section>

  <section class="profile">
    <div class="profile__card">
      <div class="profile__img">
        <figure class="absolute-bg" style="background-image: url('https://unsplash.it/2000/1200?image=832');"></figure>
      </div>
      <div class="profile__container">
        <p class="profile__description">{{ site.profile }}</p>
        <!-- <ul class="profile__social">
          <li><i class="fa fa-lg fa-facebook"></i></li>
        </ul> -->
      </div>
    </div>
  </section>

</article>

{% if page.previous.url %}
  <section class="next">
    <a class="next__link" href="{{page.previous.url}}" style="background-image: url('{{ page.previous.image }}');">
      <div class="next__container">
        <h2>{{page.previous.title}}</h2>
      </div>
    </a>
  </section>
{% endif %}
