---
layout: default
---
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
    <a class="nav nav--white" href="{{ site.baseurl }}/">
      <i class="fa fa-lg fa-arrow-left"></i>
      <span>{{ site.data.language.goback }}</span>
    </a>
    <figure class="absolute-bg mast__img" style="background-image: url('{{ page.image }}'); background-position: {{ page.image_position | default: 'center center' }};"></figure>
    <div class="mast__container">
      <span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: site.date_format }}</time></span>
      <h1 itemprop="name headline">{{ page.title }}</h1>
      {% if page.categories.size > 0 %}
        <span>{{ site.data.language.postedin_cat }} 
          {% for category in page.categories %}
            <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </span>
      {% endif %}
      <span></span>
    </div>
  </header>

  <section class="section-padding bg-grey" itemprop="articleBody">
    <div class="post">

      {{ content }}
      
    </div>
  </section>

  <section class="profile">
    {% include profile-card.html %}
  </section>

</article>

{% if page.previous.url %}
  <section class="next">
    <a class="next__link" href="{{page.previous.url | prepend: site.baseurl }}" style="background-image: url('{{ page.previous.image }}');">
      <div class="next__container">
        <span>{{ site.data.language.readnext }}</span>
        <h2>{{page.previous.title}}</h2>
      </div>
    </a>
  </section>
{% endif %}
